---
permalink: /games/
layout: layouts/home.njk
eleventyNavigation:
  key: Games
  order: 4
---

<h1>Games covered on this blog</h1>

<em>This page is a work in progress.</em>

<ul>
{% for game in games | sort(false, false, "title") %}
 <li><a href="{{ game.url }}">{{ game.title }}</a></li>
{% endfor%}
</ul>