---
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Games
  order: 3
---
<h1>Games</h1>

{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> | 
{% endfor %}

